<div class="container-fluid mt-3 mt-md-4" *ngIf="showAlert">
  <div class="alert alert-info alert-dismissible fade show" role="alert">
    <strong>Note: </strong>This uses the same data source as the <a href="https://ncovtracker.doh.gov.ph/"
      target="_blank">DOH's ncov tracker</a>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>

<div class="container-fluid mt-3 mt-md-4" *ngIf="statisticsData$ | async as stat else loading">
  <div class="row">
    <div class="col-lg mb-2 mb-lg-0 ">
      <app-stat-card [value]="stat.total" title="Confirmed Cases (+{{stat.new}})" textColor="dark" bgColor="white"
        information="as of {{today | date : 'MMM dd, yyyy'}}" [headerIcon]="'fa-user'"></app-stat-card>
    </div>
    <div class="col-lg mb-2 mb-lg-0 ">
      <app-stat-card [value]="stat.died" textColor="white" bgColor="danger" title="Deaths"
        information="{{ (stat.died / stat.total) | percent: '1.2-2' }} fatality rate" [headerIcon]="'fa-skull'">
      </app-stat-card>
    </div>
    <div class="col-lg mb-2 mb-lg-0">
      <app-stat-card [value]="stat.recovered" textColor="white" bgColor="success" title="Recovered"
        information="{{ (stat.recovered / stat.total) | percent: '1.2-2' }} recovery rate"
        [headerIcon]="'fa-user-check'">
      </app-stat-card>
    </div>
    <div class="col-lg mb-2 mb-lg-0">
      <app-stat-card [value]="stat.admitted" textColor="white" bgColor="primary" [title]="'Admitted'"
        [information]="'Persons admitted'" [headerIcon]="'fa-hospital'"></app-stat-card>
    </div>
  </div>
</div>
<div class="container-fluid mt-3 mt-md-4">
  <div class="row">
    <div class="col-lg-7 mb-3 mb-md-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title mb-3">Case trends</h5>
        </div>
        <div class="p-3">
          <app-case-chart [caseStatistics]="caseStatistics$ | async"></app-case-chart>
        </div>
      </div>
    </div>
    <div class="col-lg mb-3 mb-md-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title mb-3">Age and gender distribution</h5>
        </div>
        <div class="p-3">
          <app-age-chart [statistics]="ageGroupStatistics$ | async"></app-age-chart>
        </div>
      </div>
    </div>
    <!-- <div class="col-lg">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title mb-3">Nationality distribution</h5>
        </div>
        <div class="p-3">
          <app-nationality-chart [statistics]="nationalityStatistics$ | async"></app-nationality-chart>
        </div>
      </div>
    </div> -->
  </div>
</div>

<div class="container-fluid mt-4 mt-md-5">
  <h5 class="text-muted">Drilldown</h5>
  <small></small>
  <div class="row mt-3">
    <div class="col-lg-2 mb-3">
      <a href="http://trackncov.vmsdurano.com" class="text-decoration-none">
        <div class="card text-dark bg-white">
          <div class="card-body">
            <div class="d-flex align-items-start justify-content-between">
              <h6 class="title">Global Covid Tracker</h6>
              <small class="text-secondary">New</small>
            </div>
            <div class="content" style="min-height: 120px">
              <small class="text-muted">
                COVID-19 Tracker for Minnesota, United States and Global. Created by my colleague <a
                  href="https://vmsdurano.com">Vince Maverick Durano</a>
              </small>
            </div>
            <div class="d-flex flex-row justify-content-end text-secondary">
              <i class="fas fa-arrow-right"></i>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="col-lg-2 mb-3">
      <app-shortcut-card routerLink="/" title="PH case masterlist" description="Under construction..." [disabled]="true">
      </app-shortcut-card>
    </div>
    <div class="col-lg-2 mb-3">
      <app-shortcut-card routerLink="/" title="Cases by facility" description="Under construction..." [disabled]="true">
      </app-shortcut-card>
    </div>
    <div class="col-lg-2 mb-3">
      <app-shortcut-card routerLink="/" title="Cases by residence" description="Under construction..." [disabled]="true">
      </app-shortcut-card>
    </div>
    <div class="col-lg-2 mb-3">
      <app-shortcut-card routerLink="/" title="PUIs by facility" description="Under construction..." [disabled]="true">
      </app-shortcut-card>
    </div>
    <div class="col-lg-2 mb-3">
      <app-shortcut-card routerLink="/" title="PUIs by region" description="Under construction..." [disabled]="true">
      </app-shortcut-card>
    </div>
    <div class="col-lg-2 mb-3">
      <app-shortcut-card routerLink="/" title="Medical supply by region" description="Under construction..." [disabled]="true">
      </app-shortcut-card>
    </div>
    <div class="col-lg-2 mb-3">
      <app-shortcut-card routerLink="/" title="City heatmaps" description="Under construction..." [disabled]="true">
      </app-shortcut-card>
    </div>
    <div class="col-lg-2 mb-3">
      <app-shortcut-card routerLink="/" title="PUI masterlist" description="Under construction..." [disabled]="true">
      </app-shortcut-card>
    </div>
  </div>
</div>

<app-footer></app-footer>


<ng-template #loading>
  <div class="container-fluid p-5">
    <span class="text-muted">Loading data...</span>
  </div>
</ng-template>