<div class="bg-white py-3">
  <div class="container-fluid mt-3 mt-md-4 mb-3" *ngIf="showAlert">
    <div class="alert alert-info alert-dismissible fade show" role="alert">
      <strong>Note: </strong>This uses the same data source as the <a href="https://ncovtracker.doh.gov.ph/"
        target="_blank">DOH's ncov tracker</a>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>

  <div class="container-fluid">
    <!-- <div class="d-flex justify-content-between mb-3">
      <div>
        <h5 class="m-0">COVID Tracker PH</h5>
      </div>
      <div>
        <button class="btn-primary btn" (click)="openModal(locationSelection)">
          <div class="d-flex align-items-center">
            <div style="
              width: 130px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;">
              <span>{{ locationDisplay | async }}</span>
            </div>
            <i class="fas fa-chevron-down ml-2 cursor-pointer"></i>
          </div>
        </button>
      </div>
    </div> -->


    <div class="row">
      <div class="col-lg-3">
        <ng-container *ngIf="dashboardData$ | async as data else loading">
          <div>
            <div class="card">
              <div class="card-body pb-0">
                <div class="d-flex justify-content-between">
                  <div>
                    <div title class="d-flex align-items-center">
                      <small class="mr-1"> <i class="fa fa-user"></i></small>
                      <small class="text-dark d-block">Confirmed cases</small>
                    </div>
                    <small class="text-muted" description>{{ data.statistics.new | number}} new</small>
                  </div>
                  <div>
                    <h4 class="text-right m-0">{{ data.statistics.total | number}}</h4>
                  </div>
                </div>
              </div>
              <div style="height: 100px">
                <app-daily-chart [data]="data.total" color="var(--primary)"></app-daily-chart>
              </div>
            </div>
          </div>
          <div class="mt-3">
            <div class="card bg-primary text-white">
              <div class="card-body pb-0">
                <div class="d-flex justify-content-between">
                  <div>
                    <div title class="d-flex align-items-center">
                      <small class="mr-1"> <i class="fa fa-user-plus"></i></small>
                      <small class="d-block">Active cases</small>
                    </div>
                    <small class="text-white" description>{{ data.statistics.active / data.statistics.total | percent}}
                      of total</small>
                  </div>
                  <div>
                    <h4 class="text-right m-0">{{ data.statistics.active | number}}</h4>
                  </div>
                </div>
              </div>
              <div style="height: 100px">
                <app-daily-chart [data]="data.active" color="var(--white)"></app-daily-chart>
              </div>
            </div>
          </div>
          <div class="mt-3">
            <div class="card bg-success text-white">
              <div class="card-body pb-0">
                <div class="d-flex justify-content-between">
                  <div>
                    <div title class="d-flex align-items-center">
                      <small class="mr-1"> <i class="fa fa-user-check"></i></small>
                      <small class="text-white d-block">Recovered</small>
                    </div>
                    <small class="text-white" description>{{ data.statistics.recoveredNew | number}} new,
                      {{ data.statistics.recovered / data.statistics.total | percent}}
                      of total</small>
                  </div>
                  <div>
                    <h4 class="text-right m-0">{{ data.statistics.recovered | number}}</h4>
                  </div>
                </div>
              </div>
              <div style="height: 100px">
                <app-daily-chart [data]="data.recovered" color="var(--white)"></app-daily-chart>
              </div>
            </div>
          </div>
          <div class="mt-3">
            <div class="card bg-danger text-white">
              <div class="card-body pb-0">
                <div class="d-flex justify-content-between">
                  <div>
                    <div title class="d-flex align-items-center">
                      <small class="mr-1"> <i class="fa fa-skull"></i></small>
                      <small class="text-white d-block">Deaths</small>
                    </div>
                    <small class="text-white" description>{{ data.statistics.diedNew | number}} new.
                      {{ data.statistics.died / data.statistics.total | percent}}
                      of total</small>
                  </div>
                  <div>
                    <h4 class="text-right m-0">{{ data.statistics.died | number}}</h4>
                  </div>
                </div>
              </div>
              <div style="height: 100px">
                <app-daily-chart [data]="data.died" color="var(--white)"></app-daily-chart>
              </div>
            </div>
          </div>
        </ng-container>
        <div class="mt-3 d-none d-md-block">
          <small class="text-muted">Case Trends ( National level )</small>
          <div class="card mt-3">
            <div class="p-3">
              <app-case-chart [caseStatistics]="caseStatistics$ | async"></app-case-chart>
            </div>
          </div>
        </div>
        <div class="mt-3 d-none d-md-block">
          <small class="text-muted">Age and gender distribution ( National level )</small>
          <div class="card mt-3">
            <div class="p-3">
              <app-age-chart [statistics]="ageGroupStatistics$ | async"></app-age-chart>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg mt-3 mt-md-0">
        <ng-container *ngIf="locationData$ | async as data else loading">
          <div class="rounded border p-3">
            <h5>Region</h5>
            <app-location-statistic-table [data]="data.region"></app-location-statistic-table>
          </div>
          <div class="rounded border p-3 mt-3">
            <h5>Province</h5>
            <app-location-statistic-table [data]="data.province"></app-location-statistic-table>
          </div>
          <div class="rounded border p-3 mt-3">
            <h5>Manila</h5>
            <app-location-statistic-table [data]="data.manila"></app-location-statistic-table>
          </div>
          <div class="rounded border p-3 mt-3">
            <h5>Cebu</h5>
            <app-location-statistic-table [data]="data.cebu"></app-location-statistic-table>
          </div>
        </ng-container>
        <div class="mt-3 d-md-none d-block">
          <small class="text-muted">Case Trends ( National level )</small>
          <div class="card mt-3">
            <div class="p-3">
              <app-case-chart [caseStatistics]="caseStatistics$ | async"></app-case-chart>
            </div>
          </div>
        </div>
        <div class="mt-3 d-md-none d-block">
          <small class="text-muted">Age and gender distribution ( National level )</small>
          <div class="card mt-3">
            <div class="p-3">
              <app-age-chart [statistics]="ageGroupStatistics$ | async"></app-age-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="container-fluid mt-3 mt-md-4">
  <div class="row">

  </div>
</div>
<div class="container-fluid mt-4 mt-md-5">
  <small class="text-muted">Other Services</small>
  <div class="row mt-3">
    <div class="col-lg-3 mb-3">
      <a href="http://trackncov.vmsdurano.com" class="text-decoration-none">
        <div class="card text-dark bg-white">
          <div class="card-body">
            <div class="d-flex align-items-start justify-content-between">
              <h6 class="title">Global Covid Tracker</h6>
              <small class="text-secondary">New</small>
            </div>
            <div class="content" style="min-height: 120px">
              <small class="text-muted">
                COVID-19 Tracker for Minnesota, United States and Global. Created by my colleague <a
                  href="https://vmsdurano.com">Vince Maverick Durano</a>
              </small>
            </div>
            <div class="d-flex flex-row justify-content-end text-secondary">
              <i class="fas fa-arrow-right"></i>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<app-footer></app-footer>


<ng-template #loading>
  <div class="card">
    <div class="card-body">
      <div class="d-flex justify-content-center">
        <div class="spinner-border spinner-border-sm" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #locationSelection>
  <div class="p-2">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="locationForm">
      <div>
        <div class="form-group">
          <label for="region-select"><small class="text-muted">Region</small></label>
          <select name="region_select" id="region-select" class="form-control" formControlName="region">
            <option value="">All</option>
            <option *ngFor="let select of regions" [value]="select.value">
              {{ select.display }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="region-select"><small class="text-muted">Province</small></label>
          <select name="region_select" id="region-select" class="form-control" formControlName="province">
            <option value="">All</option>
            <option *ngFor="let select of provinces" [value]="select.value">
              {{ select.display }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="region-select"><small class="text-muted">City</small></label>
          <select name="region_select" id="region-select" class="form-control" formControlName="city">
            <option value="">All</option>
            <option *ngFor="let select of cities" [value]="select.value">
              {{ select.display }}
            </option>
          </select>
        </div>
      </div>
    </form>
  </div>
</ng-template>