<div class="d-flex h-100 flex-column">
    <app-mobile-header backLink="/case/residence">
        <h6 class="m-0" *ngIf="header$ | async as header">
            {{ header  }}
        </h6>
    </app-mobile-header>

    <div #mapContainer style="height: 250px; width: 100%"></div>
    <div class="flex-fill overflow-auto" *ngIf="cases$ | async as cases">
        <app-case-list [data]="cases" [clickable]="true" (select)="selectedCase$.next($event)"></app-case-list>
    </div>
    <app-map [target]="mapContainer"></app-map>

</div>