<div class="mt-5 container">
    <h4>Useful links:</h4>
    <ul>
        <li><a href="https://www.doh.gov.ph/2019-nCov/FAQs">Frequently Asked Questions</a></li>
        <li><a href="https://www.doh.gov.ph/COVID-19/Gabay-sa-Publiko">Gabay sa Publiko</a></li>
        <li><a href="https://www.doh.gov.ph/2019-nCov/interim-guidelines">Interim Guidelines</a></li>
        <li><a href="https://www.doh.gov.ph/node/19198">Situational Reports</a></li>
        <li><a href="https://www.doh.gov.ph/2019-nCov/advisories">Public Advisories</a></li>
        <li><a href="https://www.doh.gov.ph/2019-nCov/infographics">Infographics</a></li>
        <li><a href="https://www.doh.gov.ph/2019-ncov-presscon">Press Briefings</a></li>
    </ul>

    <h4 class="mt-5">Found this helpful?</h4>
    <p>
        This service is completely free and aims to help our community get official information during this pandemic.
        If you found this helpful, buy me a beer or a cup of coffee!
    </p>
    <a class="btn btn-primary mr-2" target="_blank" href="https://paypal.me/judedaryl?locale.x=en_US">
        <i class="fab fa-paypal"></i> Donate
    </a>
    <a class="btn btn-warning" target="_blank" href="https://www.buymeacoffee.com/exkpSj2">
        <i class="fas fa-coffee"></i> Buy me a coffee
    </a>
    <h4 class="mt-5">Share</h4>
    <p>
        Do you want to recommend this app to your friends? Share it!
    </p>
    <div class="d-flex flex-column">
        <app-facebook-share class="mb-2"></app-facebook-share>
        <app-twitter-tweet></app-twitter-tweet>
    </div>

    <h4 class="mt-5">About</h4>
    <p>
        This project <b>uses the same data as DOH</b>. This means that i am in no way whatsoever doing manual
        intervention
        on
        the data or running any kind of script, just fetching some data from their source.
        The only difference with this and DOH tracker is the user interface, it's lighter and mobile friendly so you can
        easily track the latest on the spread of <b>COVID-19</b> in the
        Philippines.
        This project is fully open-source using Github pages as a host.
    </p>
</div>

<app-footer></app-footer>