<nav class="navbar navbar-light bg-light nav-bar position-sticky">
  <a class="navbar-brand h1 m-0" href="/">COVID Tracker Philippines</a>
</nav>

<div class="container mt-5 pb-5" *ngIf="statisticsData$ | async as stat else loading">
  <div class="card mt-3">
    <div class="card-body">
      <h6 class="card-subtitle mb-2 text-muted">Philippines</h6>
      <h5 class="card-title mb-2">COVID-19 Cases</h5>
      <div class="card-text d-flex flex-row">
        <div class="container">
          <div class="row">
            <div class="col-3 p-0">
              <div class="d-flex flex-column">
                <p class="text-muted h1">{{stat.cases}}</p>
                <span class="text-muted">Total</span>
                <small class="text-info" *ngIf='stat.todayCases !== 0'>{{stat.todayCases}} new cases</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <h6 class="card-subtitle mb-2 text-muted">Philippines</h6>
      <h5 class="card-title mb-2">Case status</h5>
      <div class="card-text d-flex flex-row">
        <div class="container">
          <div class="row">
            <div class="col-4 p-0">
              <div class="d-flex flex-column">
                <p class="h1">{{stat.active}}</p>
                <span class="text-muted">Active</span>
              </div>
            </div>
            <div class="col-4 p-0">
              <div class="d-flex flex-column">
                <p class="text-success h1">{{stat.recovered}}</p>
                <span class="text-muted">Recovered</span>
              </div>
            </div>
            <div class="col-4 p-0">
              <div class="d-flex flex-column">
                <p class="h1">{{stat.critical}}</p>
                <span class="text-muted">Critical</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <h6 class="card-subtitle mb-2 text-muted">Philippines</h6>
      <h5 class="card-title mb-2">Deaths</h5>
      <div class="card-text d-flex flex-row">
        <div class="container">
          <div class="row">
            <div class="col-4 p-0">
              <div class="d-flex flex-column">
                <p class="text-danger h1">{{stat.deaths}}</p>
                <span class="text-muted">Total</span>
                <small class="text-info" *ngIf='stat.todayDeaths !== 0'>{{stat.todayDeaths}} new deaths</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="container mt-5">
    <span class="text-muted">Loading data...</span>
  </div>
</ng-template>

<div class="position-fixed ncov-footer border-top ">
  <div class="container p-3 bg-white d-flex flex-column">
    <small>Source: <a href="https://www.worldometers.info/coronavirus">Worldometers</a></small>
    <small><a href="https://github.com/judedaryl">Daryl Clariño</a> 2020</small>
  </div>
</div>