<nav class="navbar navbar-primary bg-primary nav-bar position-sticky">
  <a class="navbar-brand h1 m-0 text-white" href="/">COVID Tracker Philippines</a>
</nav>

<div class="container-fluid mt-3 mt-md-4" *ngIf="showAlert">
  <div class="alert alert-info alert-dismissible fade show" role="alert">
    <strong>Note: </strong>This uses the same data source as the <a href="https://ncovtracker.doh.gov.ph/" target="_blank">DOH's ncov tracker</a>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>

<div class="container-fluid mt-3 mt-md-4" *ngIf="statisticsData$ | async as stat else loading">
  <div class="row">
    <div class="col-lg mb-2 mb-lg-0 ">
      <app-stat-card [value]="stat.confirmed" title="Confirmed Cases" textColor="dark" bgColor="light"
        information="as of {{today | date : 'MMM dd, yyyy'}}" [headerIcon]="'fa-user'"></app-stat-card>
    </div>
    <div class="col-lg mb-2 mb-lg-0 ">
      <app-stat-card [value]="stat.deaths" textColor="white" bgColor="danger" title="Deaths"
        information="{{ (stat.deaths / stat.confirmed) | percent: 2 }} fatality rate" [headerIcon]="'fa-skull'">
      </app-stat-card>
    </div>
    <div class="col-lg mb-2 mb-lg-0">
      <app-stat-card [value]="stat.recovered" textColor="white" bgColor="success" title="Recovered"
        information="{{ (stat.recovered / stat.confirmed) | percent: 2 }} recovery rate" [headerIcon]="'fa-user-check'">
      </app-stat-card>
    </div>
    <div class="col-lg mb-2 mb-lg-0">
      <app-stat-card [value]="stat.personsMonitored" textColor="white" bgColor="primary" [title]="'PUMs'"
        [information]="'Persons monitored'" [headerIcon]="'fa-hospital'"></app-stat-card>
    </div>
    <div class="col-lg mb-2 mb-lg-0">
      <app-stat-card [value]="stat.personsInvestigated" textColor="dark" bgColor="white" [title]="'PUIs'"
        [information]="'Persons investigated'" [headerIcon]="'fa-search'"></app-stat-card>
    </div>
    <div class="col-lg mb-2 mb-lg-0">
      <app-stat-card [value]="stat.testConducted" textColor="white" bgColor="dark" [title]="'Tests'"
        [information]="'Tests conducted'" [headerIcon]="'fa-vial'"></app-stat-card>
    </div>
  </div>
</div>

<div class="container-fluid mt-3 mt-md-4">
  <div class="row">
    <div class="col-lg mb-3 mb-md-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title mb-3">Case trends</h5>
        </div>
        <div class="p-3">
          <app-case-chart [caseStatistics]="caseStatistics$ | async"></app-case-chart>
        </div>
      </div>
    </div>
    <div class="col-lg mb-3 mb-md-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title mb-3">Age and gender distribution</h5>
        </div>
        <div class="p-3">
          <app-age-chart [statistics]="ageGroupStatistics$ | async"></app-age-chart>
        </div>
      </div>
    </div>
    <div class="col-lg">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title mb-3">Nationality distribution</h5>
        </div>
        <div class="p-3">
          <app-nationality-chart [statistics]="nationalityData$ | async"></app-nationality-chart>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid  mt-3 mt-md-4">
  <div class="row">
    <div class="col-md-3 mb-3 mb-md-0">
      <div class="card" *ngIf="facilityData$ | async as facilities else loading">
        <div class="card-body">
          <h5 class="card-title mb-3">Cases by facility</h5>
          <small class="text-muted">Search by facility name</small>
          <div class="input-group  mt-2">
            <input type="text" class="form-control" placeholder="e.g. Hospital" aria-label="Facility Name"
              aria-describedby="Facility Name" [formControl]="facilityFilter">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" (click)="facilityFilter.reset('')">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="facility-list">
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let data of facilities">
              <div class="d-flex flex-row justify-content-between">
                {{ data.facility }}
                <div>
                  <span class="badge badge-dark">{{ data.cases.length }}</span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-3 mb-3 mb-md-0">
      <div class="card" *ngIf="residenceData$ | async as residences else loading">
        <div class="card-body">
          <h5 class="card-title mb-3">Cases by residence</h5>
          <small class="text-muted">Search by residence</small>
          <div class="input-group  mt-2">
            <input type="text" class="form-control" placeholder="e.g. Manila" aria-label="Residence"
              aria-describedby="basic-addon2" [formControl]="residenceFilter">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" (click)="residenceFilter.reset('')">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="facility-list">
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let data of residences">
              <div class="d-flex flex-row justify-content-between">
                {{ data.residence }}
                <div>
                  <span class="badge badge-dark">{{ data.value }}</span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-3 mb-3 mb-md-0">
      <div class="card" *ngIf="puiRegionData$ | async as arr else loading">
        <div class="card-body">
          <h5 class="card-title mb-3">PUIs by region</h5>
          <small class="text-muted">Search by region</small>
          <div class="input-group  mt-2">
            <input type="text" class="form-control" placeholder="e.g. NCR" aria-label="Residence"
              aria-describedby="basic-addon2" [formControl]="puiRegionFilter">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" (click)="puiRegionFilter.reset('')">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="facility-list">
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let data of arr">
              <div class="d-flex flex-row justify-content-between">
                {{ data.aggregateKey }}
                <div>
                  <span class="badge badge-dark">{{ data.value }}</span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-3 mb-3 mb-md-0">
      <div class="card" *ngIf="puiFacilityData$ | async as arr else loading">
        <div class="card-body">
          <h5 class="card-title mb-3">PUIs by facility</h5>
          <small class="text-muted">Search by facility</small>
          <div class="input-group  mt-2">
            <input type="text" class="form-control" placeholder="e.g. Medical facility" aria-label="Residence"
              aria-describedby="basic-addon2" [formControl]="puiFacilityFilter">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" (click)="puiFacilityFilter.reset('')">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="facility-list">
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let data of arr">
              <div class="d-flex flex-row justify-content-between">
                {{ data.aggregateKey }}
                <div>
                  <span class="badge badge-dark">{{ data.value }}</span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3 mt-md-4">
    <div class="col-md">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title mb-3">Medical supply inventory</h5>
          <small class="text-muted">Search by region</small>
          <div class="input-group  mt-2">
            <input type="text" class="form-control" placeholder="e.g. NCR" aria-label="Residence"
              aria-describedby="basic-addon2" [formControl]="inventoryFilter">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" (click)="inventoryFilter.reset('')">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="facility-list">
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let data of inventoryData$ | async">
              <div>
                <h5> {{ data.region }}</h5>
                <div class="row mt-lg-3">
                  <div class="col-lg-3 mt-md-0 mt-2">
                    <div class="d-flex flex-column">
                      <span class="font-weight-regular">N95</span>
                      <small class="text-muted">Respirator</small>
                      <h4>{{ data.n95 }}</h4>
                    </div>
                  </div>
                  <div class="col-lg-3 mt-md-0 mt-2">
                    <div class="d-flex flex-column">
                      <span class="font-weight-regular">Surgical mask</span>
                      <small class="text-muted">Face mask</small>
                      <h4>{{ data.surgmask }}</h4>
                    </div>
                  </div>
                  <div class="col-lg-3 mt-md-0 mt-2">
                    <div class="d-flex flex-column">
                      <span class="font-weight-regular">PPE</span>
                      <small class="text-muted">Personal protective equipment</small>
                      <h4>{{ data.ppe }}</h4>
                    </div>
                  </div>
                  <div class="col-lg-3 mt-md-0 mt-2">
                    <div class="d-flex flex-column">
                      <span class="font-weight-regular">Osetamivir</span>
                      <small class="text-muted">Antiviral medication</small>
                      <h4>{{ data.osetamivir }}</h4>
                    </div>
                  </div>
                </div>
                <div class="row mt-lg-2">
                  <div class="col-lg-3 mt-md-0 mt-2">
                    <div class="d-flex flex-column">
                      <span class="font-weight-regular">Sanitizer</span>
                      <small class="text-muted">Disinfectant</small>
                      <h4>{{ data.sanitizer }}</h4>
                    </div>
                  </div>
                  <div class="col-lg-3 mt-md-0 mt-2">
                    <div class="d-flex flex-column">
                      <span class="font-weight-regular">Gloves</span>
                      <small class="text-muted">Hand gloves</small>
                      <h4>{{ data.gloves }}</h4>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="mt-5 container-fluid">
  <div class="row">
    <div class="col-lg">
      <div class="fb-comments" data-href="https://www.facebook.com/superricksanchez/posts/245060866527594"
        data-width="100%" data-numposts="5"></div>
    </div>
    <div class="col-lg">
      <h4>Useful links:</h4>
      <ul>
        <li><a href="https://www.doh.gov.ph/2019-nCov/FAQs">Frequently Asked Questions</a></li>
        <li><a href="https://www.doh.gov.ph/COVID-19/Gabay-sa-Publiko">Gabay sa Publiko</a></li>
        <li><a href="https://www.doh.gov.ph/2019-nCov/interim-guidelines">Interim Guidelines</a></li>
        <li><a href="https://www.doh.gov.ph/node/19198">Situational Reports</a></li>
        <li><a href="https://www.doh.gov.ph/2019-nCov/advisories">Public Advisories</a></li>
        <li><a href="https://www.doh.gov.ph/2019-nCov/infographics">Infographics</a></li>
        <li><a href="https://www.doh.gov.ph/2019-ncov-presscon">Press Briefings</a></li>
      </ul>

      <h4 class="mt-5">Found this helpful?</h4>
      <p>
        This service is completely free and aims to help our community get official information during this pandemic.
        If you found this helpful, buy me a beer or a cup of coffee!
      </p>
      <a class="btn btn-primary" target="_blank" href="https://paypal.me/judedaryl?locale.x=en_US">
        <i class="fab fa-paypal"></i> Donate
      </a>

      <h4 class="mt-5">About</h4>
      <p>
        This project <b>uses the same data as DOH</b>. This means that i am in no way whatsoever doing manual intervention on
        the data or running any kind of script, just fetching some data from their source.
      </p>
      <p>
        The only difference with this and DOH tracker is the user interface, it's lighter and mobile friendly so you can
        easily track the latest on the spread of <b>COVID-19</b> in the
        Philippines.
      </p>
      <p>
        This project is fully open-source using Github pages as a host.
      </p>

      <h4 class="mt-5">Todo (March 21, 2020):</h4>
      <ul>
        <li>Add sorting on the searchable sections.</li>
        <li>Update to a multi-page layout so it's easier to use on mobile.</li>
        <li>Buy a proper domain so the site is easily remembered.</li>
      </ul>

      <h4 class="mt-5">Want to contribute?</h4>
      <p>
        This project is made with Angular 8.3 (Not moving to ivy yet).
        The repository can be found <a href="https://github.com/judedaryl/ncov-tracker/">here</a>
        I am using the same data resources as DOH. You can find some examples in the apiService, but if you need more
        data
        that reflects the ncov tracker in DOH you can simply
        reverse engineer the app by sniffing the network.
      </p>
      <a class="btn btn-primary" target="_blank" href="https://github.com/judedaryl/ncov-tracker/">
        <i class="fab fa-github"></i> Contribute
      </a>
    </div>
  </div>
</div>


<div class="my-5">
  <div class="border-top container-fluid p-3 bg-white d-flex flex-column">
    <small>Source: <a href="https://ncovtracker.doh.gov.ph">Department of Health NcovTracker</a></small>
    <small><a href="https:/judedaryl.github.io">Daryl Clariño</a> 2020</small>
  </div>
</div>



<ng-template #loading>
  <div class="container-fluid p-5">
    <span class="text-muted">Loading data...</span>
  </div>
</ng-template>