<div class="container mb-5">
    <div class="d-flex flex-column justify-content-center align-items-center mt-5 p-t">
        <span class="display-4">
            Can't find that
        </span>
        <span class="mt-2">We can't find the page you were looking for</span>
        <a class="btn btn-secondary mt-5" routerLink="/">
            Take me to a place called home
         </a>
        <button class="btn btn-outline-secondary mt-3" (click)="back()">
            Bring me back
        </button>
    </div>
</div>

<app-footer></app-footer>