<div *ngIf="isMobile$ | async; else desktop" class="d-flex flex-column h-100">
    <app-mobile-search (search)="filter.setValue($event)" placeholder="Search by region"></app-mobile-search>
    <div class="flex-fill overflow-auto bg-white">
        <div class="container-fluid">
            <h6 class="mt-3">Medical supply by region</h6>
        </div>
        <hr/>
        <div class="mt-3" *ngIf="data$ | async as data">
            <app-inventory-list [data]="data$ | async">
            </app-inventory-list>
        </div>
    </div>
</div>

<ng-template #desktop>
    <div class="d-flex flex-column h-100">
        <div class="container-fluid mt-md-4 d-flex align-items-center justify-content-start">
            <a routerLink="/">
                <i class="fas fa-arrow-left text-secondary mr-3"></i>
            </a>
            <h5 class="m-0">Medical supply by region</h5>
        </div>
        <div class="container-fluid mt-3 flex-fill overflow-hidden">
            <div class="row h-100 pb-3">
                <div class="col-lg h-100 overflow-hidden d-flex flex-column">
                    <div>
                        <small class="text-muted">Search by region</small>
                        <form>
                            <div class="input-group mt-2 mb-3 position-sticky" style="top: 0; z-index: 5">
                                <input type="text" class="form-control" placeholder="e.g. NCR"
                                    aria-label="Facility Name" aria-describedby="Facility Name" [formControl]="filter">
                                <div class="input-group-append" *ngIf="filter.value !== ''">
                                    <button class="btn btn-outline-dark" type="button" (click)="filter.reset('')">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="overflow-auto rounded border flex-fill">
                        <app-inventory-list [data]="data$ | async">
                        </app-inventory-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>