<div class="mt-5 container">
    <h4 class="mt-5">Todo (March 21, 2020):</h4>
    <ul>
        <li>Add sorting on the searchable sections.</li>
        <li>Update to a multi-page layout so it's easier to use on mobile.</li>
        <li>Buy a proper domain so the site is easily remembered.</li>
    </ul>

    <h4 class="mt-5">Want to contribute?</h4>
    <p>
        This project is made with Angular 8.3 (Not moving to ivy yet).
        The repository can be found <a href="https://github.com/judedaryl/ncov-tracker/">here</a>
        I am using the same data resources as DOH. You can find some examples in the apiService, but if you need more
        data
        that reflects the ncov tracker in DOH you can simply
        reverse engineer the app by sniffing the network.
    </p>
    <a class="btn btn-primary" target="_blank" href="https://github.com/judedaryl/ncov-tracker/">
        <i class="fab fa-github"></i> Contribute
    </a>

</div>

<app-footer></app-footer>