<div class="mt-5 container">
    <h4 class="mt-5">Want to contribute?</h4>
    <p>
        This project is made with Angular 8.3.
        The repository can be found <a href="https://github.com/judedaryl/ncov-tracker/">here</a>
        Data is provided by the DOH DataDrop folder in <a href="https://bit.ly/dohcovid19data">Google Drive</a>
    </p>
    <a class="btn btn-primary" target="_blank" href="https://github.com/judedaryl/ncov-tracker/">
        <i class="fab fa-github"></i> Contribute
    </a>

    <h4 class="mt-5">Infrastructure</h4>
    <p>
        COVID Tracker Philippines resides in AWS, with it's infrastructure built with <a
            href="https://www.terraform.io/">Terraform</a>.
        Contact <a href="mailto:clarinojd@gmail.com">me</a> if you want to help with the infrastructure.
    </p>
    <a class="btn btn-primary" target="_blank" href="https://github.com/covidtrackerph/basement">
        <i class="fab fa-github"></i> Contribute
    </a>
</div>

<app-footer></app-footer>