$fa-font-path: "@fortawesome/fontawesome-free/webfonts";
@import 'bootstrap/scss/bootstrap';
@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "@fortawesome/fontawesome-free/scss/solid.scss";
@import "@fortawesome/fontawesome-free/scss/brands.scss";


html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}