<div class="container-fluid mt-3 mt-md-4">
  <div class="my-5">
    <div class="border-top container-fluid p-3 d-flex flex-column">
      <div class="d-flex flex-row align-items-center justify-content-center">
        <a href="https://fb.com/superdardar" class="mx-2">
          <i class="fab fa-facebook-square fa-2x"></i>
        </a>
        <a href="https://twitter.com/clarinojd" class="mx-2">
          <i class="fab fa-twitter-square fa-2x"></i>
        </a>
        <a href="mailto:clarinojd@gmail.com" class="mx-2">
          <i class="fab fa-google text-danger fa-2x"></i>
        </a>
        <a href="https://github.com/judedaryl" class="mx-2">
          <i class="fab fa-github-square text-dark fa-2x"></i>
        </a>
        <a href="https://linkedin.com/in/clarinojd" class="mx-2">
          <i class="fab fa-linkedin text-primary fa-2x"></i>
        </a>
      </div>

      <div class="d-flex flex-column align-items-center justify-content-center mt-3">
        <div class="text-center mt-2 mb-3 container" style="font-size:0.5em">
          THIS WEBSITE SERVES AS AN ALTERNATIVE RESOURCE TO HELP KEEP THE PUBLIC UPDATED ON
          THE STATUS OF THE NCOV VIRUS. THE CONTENT OF THIS WEBSITE USES A NUMBER OF OPEN SOURCE DATASETS FROM
          AVAILABLE API SERVICES, INCLUDING DATA, MAPS, PLOTS AND LINKS. THE CREATOR OF THIS WEBSITE DOES NOT OWN,
          MAINTAIN, MODIFY THE DATASETS AND PROVIDES NO WARRANTIES, CLAIMS OR REPRESENTATIONS–WHETHER EXPRESSED,
          IMPLIED, OR STATUTORY–WITH RESPECT TO THIS WEBSITE, INCLUDING, WITHOUT LIMITATION, WARRANTIES OF QUALITY,
          PERFORMANCE, NON–INFRINGEMENT, MERCHANTABILITY, OR FITNESS FOR A PARTICULAR PURPOSE, AND DISAVOWS ANY
          WARRANTIES CREATED BY COURSE OF DEALING, COURSE OF PERFORMANCE, OR TRADE USAGE. RELIANCE ON THE WEBSITE FOR
          MEDICAL GUIDANCE IS STRICTLY PROHIBITED.
        </div>
        <div class="text-center">
          <span class="mr-2 text-center"><a href="https:/judedaryl.github.io">Daryl Clariño</a> © 2020 Source: <a
              href="https://ncovtracker.doh.gov.ph">Department of Health NcovTracker</a></span>
        </div>
        <div class="mr-2">
          <p class="text-center">
            If you found this useful, consider buying me a beer or coffee.
          </p>
          <div class="d-flex flex-row  align-items-center justify-content-center ">
            <a class="btn btn-primary mr-2" target="_blank" href="https://paypal.me/judedaryl?locale.x=en_US">
              <i class="fab fa-paypal"></i> Donate via Paypal
            </a>
            <a class="btn btn-warning" target="_blank" href="https://www.buymeacoffee.com/exkpSj2">
              <i class="fas fa-coffee"></i> Buy me a coffee
            </a>
          </div>
        </div>
        <div class="mt-3">

          <a href="http://qsixt.com" style="
            text-decoration: none;
            color: var(--cyan);">
            <div class="d-flex flex-row align-items-center justify-content-center">
              <img src="assets/logo_qsixt_logo.png" style="width: 30px; height: 30px;">
              <div class="d-flex flex-column ml-2">
                <small class="m-0 font-weight-light">Powered by</small>
                <p class="m-0 font-weight-bold">QSIXT</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>