.header-height {
    height: 70px;
}
.search-input {
    width: 100%;
    border: none;
    &:focus, &:hover, &:active {
        border: none;
        outline: none;
    }
}

.clear-btn {
    position: absolute;
    top: 6px;
    right: 10px;
}