<div class="d-flex flex-column h-100">

    <div class="container-fluid mt-md-4 d-flex align-items-center justify-content-start">
        <a routerLink="/">
            <i class="fas fa-arrow-left text-secondary mr-3"></i>
        </a>
        <h5 class="m-0">Cases by residence</h5>
    </div>

    <div class="container-fluid mt-3 flex-fill overflow-hidden">
        <div class="row h-100 pb-3">
            <div class="col-lg-6 h-100 overflow-hidden d-flex flex-column">
                <div>
                    <small class="text-muted">Search case by name, facility or region</small>
                    <form>
                        <div class="input-group mt-2 mb-3 position-sticky" style="top: 0; z-index: 5">
                            <input type="text" class="form-control" placeholder="e.g. Hospital"
                                aria-label="Facility Name" aria-describedby="Facility Name" [formControl]="filter">
                            <div class="input-group-append" *ngIf="filter.value !== ''">
                                <button class="btn btn-outline-dark" type="button" (click)="filter.reset('')">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="overflow-auto ios-scroll rounded border flex-fill">
                    <app-case-list [data]="cases$ | async" (select)="selectedCase$.next($event)"
                        [cardClickable]="true"
                    ></app-case-list>
                </div>
            </div>
            <div class="col-lg h-100 overflow-hidden d-flex flex-column">
                <div #mapContainer class="flex-fill" style="width: 100%"></div>
                <app-map [target]="mapContainer"></app-map>
            </div>
        </div>
    </div>
</div>